*.d
*.o
*.test
*.a
*.exe
*log
*.bc
*.ll
*.swp
bin/*
dev/*
doxygen-out/*
examples/*.result
lib/*
.curry/
sandbox/*
setup.csh
tags
tools/sprite
tools/scc
include/sprite/config.hpp
runtime/sprite-runtime-part-b/generate-sprite-runtime-part-b
