# =====================================================
# The following programs are used to build the project.
CC          := g++
CLANG       := clang++
LLVM-AS     := llvm-as
LLVM-CONFIG := llvm-config
LLVM-DIS    := llvm-dis
LLVM-LINK   := llvm-link


# =====================================================
# Configure the installation.
BININSTALL := $(shell readlink -f $(TOPDIR)bin)
LIBINSTALL := $(shell readlink -f $(TOPDIR)lib)


# =====================================================================
# The following programs are used at runtime by the installed programs.

# The C compiler used by Sprite to convert assembly to ELF.
LIB-CC  := gcc
LIB-LLC := llc

