# GENERAL INFO
# ============================================================================
# This configuration file tells Sprite where to find the external programs it
# requires.  Suffixes indicate the version used when developing Sprite.  As
# this file is written, these programs would need to be available in the path
# at build time.  You may wish to replace these with absolute paths for your
# system.
#
# On Ubuntu, these programs come from three packages: g++-4.8, clang-3.3,
# llvm-3.3.


# BUILD CONFIG
# ============================================================================
# The following programs and options are used to build the project.  That is,
# these are needed when compiling the scc compiler, for example.
CC          := g++-4.8
CFLAGS      := -O0 -ggdb -gdwarf-3
CLANG       := clang++
LLVM-AS     := llvm-as-3.3
LLVM-CONFIG := llvm-config-3.3
LLVM-DIS    := llvm-dis-3.3
LLVM-LINK   := llvm-link-3.3


# INSTALLATION CONFIG
# ============================================================================
# The next two directories will contain binaries and files needed by those
# binaries.  The default settings place all of the files under this project.
# In a "real" installation, you would most likely change the defaults, perhaps
# to /usr/bin and /usr/lib.
BININSTALL := $(shell readlink -f $(TOPDIR)bin)
LIBINSTALL := $(shell readlink -f $(TOPDIR)lib)


# RUNTIME CONFIG
# ============================================================================
# The following programs are used at runtime by the installed programs.  These
# are needed when using scc to compile curry programs, for instance.
#
# Any relative paths appearing in this section are resolved at installation
# time by creating links under LIBINSTALL.  So, say the LIB-CC variable is set
# to g++.  When the installer runs `make install`, a link at $LIBINSTALL/cc is
# creating pointing to whatever g++ was found in the installer's path.  Perhaps
# something like /usr/bin/g++.  Later, when someone compiles curry code using
# scc, the g++ compiler at /usr/bin/g++ will be used, no matter what is in that
# user's environment.

# The C++ compiler used by Sprite to convert assembly to ELF.  Practically any
# compiler will do, since it only needs to build an executable from assembly.
LIB-CC       := g++
LIB-LLC      := llc-3.3

# The pakcs binaries needed for parsing and preprocessing Curry code.  The cmc
# subproject makes unqualified calls to these programs.  Sprite simply ensures
# they are available in the LIBINSTALL directory, which is inserted at the
# front of the path when compiling.
# LIB-PAKCS      := pakcs
# LIB-PARSECURRY := parsecurry
LIB-PAKCS      := /home/cmc/local/pakcs/bin/pakcs
LIB-PARSECURRY := /home/cmc/local/pakcs/bin/parsecurry

